
A/A-001/A-001.aux
A/A-001/A-001.log
A/A-001/A-001.synctex.gz
A/A-002/A-002.aux
A/A-002/A-002.log
A/A-002/A-002.synctex.gz
A/A-002/fig_b.tex.preview.pdf
A/A-003/A-003.aux
A/A-003/A-003.log
A/A-003/A-003.synctex.gz
A/A-006/A-006.aux
A/A-006/A-006.log
A/A-006/A-006.synctex.gz
A/A-007/A-007.aux
A/A-007/A-007.log
A/A-007/A-007.synctex.gz
A/A-006/fig_aa.tikz.preview.aux
A/A-006/fig_aa.tikz.preview.log
A/A-006/fig_aa.tikz.preview.pdf
A/A-006/fig_aa.tikz.preview.tex
A/A-006/fig_aa.tikz.preview_BB.txt
A/A-007/fig_a.tikz.preview.pdf
A/A-007/fig_a.tikz.preview_BB.txt
A/A-007/fig_a.tikz.preview.aux
A/A-007/fig_a.tikz.preview.log
A/A-007/fig_a.tikz.preview.tex
A/A-008/locate_R1.dxf~
A/A-008/\#locate_R1.dxf
A/A-008/\#example.dxf
A/A-008/fig_a.tikz.preview.pdf
A/A-008/fig_a.tikz.preview.tex
A/A-008/example.dxf~
A/A-008/fig_a.tikz.preview_BB.txt
A/A-008/example2.dxf~
A/A-002/.~lock.calculations.ods\#
A/A-008/fig_b.tikz.preview.pdf
A/A-008/fig_b.tex.preview.pdf
A/A-008/fig_b.tikz.preview_BB.txt
A/A-008/\#example2.dxf
A/A-008/fig_b.tikz.preview.tex
*.aux
*.log
*.gz
*.ent
*.preview
*.preview.tex
*.preview.pdf
*.tikz
*_BB.txt
__pycache__
B/B-001/*.pdf
B/B-001/B-001.txt



