
A/A-001/A-001.aux
A/A-001/A-001.log
A/A-001/A-001.synctex.gz
A/A-002/A-002.aux
A/A-002/A-002.log
A/A-002/A-002.synctex.gz
A/A-002/fig_b.tex.preview.pdf
A/A-003/A-003.aux
A/A-003/A-003.log
A/A-003/A-003.synctex.gz
A/A-006/A-006.aux
A/A-006/A-006.log
A/A-006/A-006.synctex.gz
A/A-007/A-007.aux
A/A-007/A-007.log
A/A-007/A-007.synctex.gz
A/A-006/fig_aa.tikz.preview.aux
A/A-006/fig_aa.tikz.preview.log
A/A-006/fig_aa.tikz.preview.pdf
A/A-006/fig_aa.tikz.preview.tex
A/A-006/fig_aa.tikz.preview_BB.txt
A/A-007/fig_a.tikz.preview.pdf
A/A-007/fig_a.tikz.preview_BB.txt
A/A-007/fig_a.tikz.preview.aux
A/A-007/fig_a.tikz.preview.log
A/A-007/fig_a.tikz.preview.tex
*.aux
*.log
*.gz
B/B-001/flange_cad.dxf~
B/B-001/svg-inkscape/drawing_svg-tex.pdf
B/B-001/svg-inkscape/drawing_svg-tex.pdf_tex
B/B-001/fig_a.tikz.preview.pdf
B/B-001/\#flange_cad.dxf
B/B-001/profile.dxf~
B/B-001/\#profile_3deg.dxf
B/B-001/fig_a.tikz.preview.tex
B/B-001/fig_a.tikz.preview_BB.txt
B/B-001/profile_3deg.dxf~
B/B-001/\#profile_4.dxf
B/B-001/\#code110.dxf
B/B-001/\#code175_A.dxf
B/B-001/\#code175_B.dxf
B/B-001/\#code175_reduceD.dxf
B/B-001/code145.dxf~
B/B-001/code145_A.dxf~
B/B-001/code145_template.dxf~
B/B-001/code175.dxf~
B/B-001/code175_A.dxf~
B/B-001/code175_B.dxf~
B/B-001/code175_reduceD.dxf~
B/B-001/code175_template.dxf~
B/B-001/locate_R1.dxf~
A/A-008/locate_R1.dxf~
A/A-008/\#locate_R1.dxf
A/A-008/\#example.dxf
A/A-008/fig_a.tikz.preview.pdf
A/A-008/fig_a.tikz.preview.tex
A/A-008/example.dxf~
A/A-008/fig_a.tikz.preview_BB.txt
A/A-008/example2.dxf~
A/A-002/.~lock.calculations.ods\#
A/A-008/fig_b.tikz.preview.pdf
A/A-008/fig_b.tex.preview.pdf
A/A-008/fig_b.tikz.preview_BB.txt
A/A-008/\#example2.dxf
A/A-008/fig_b.tikz.preview.tex
B/B-001/B-001.ent
B/B-001/B-001.pdf
B/B-001/fig_b.tex.preview_BB.txt
B/B-001/fig_b.tex.preview.pdf
B/B-001/fig_b.tex.preview.tex
B/B-001/code145_working.dxf~
B/B-001/B-001.pdf
